<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundi.springbootdemo4.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sundi.springbootdemo4.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
        <result column="remark" property="remark"/>
        <result column="roleListStr" property="roleListStr"/>
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <collection property="roleList" ofType="com.sundi.springbootdemo4.entity.Role">
            <id column="rid" property="id"/>
            <result column="nameZh" property="nameZh"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="selectObject" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select a.*,
			GROUP_CONCAT(c.nameZh) roleListStr
		from user a left join
		user_role b on a.id=b.uid
		left join role c on
        b.rid=c.id
        <where>
            <if test="name!=null and name!=''">
                and a.name like concat('%',#{name},'%')
            </if>
        </where>
        GROUP BY a.name
    </select>


    <delete id="deleteCen">
        delete from user_role where uid=#{uid}
    </delete>




</mapper>
